body style {
  -webkit-user-select: auto !important;
}
/*
* {
  margin: 0;
}
*/
html, body {
  height: 100%;
  //font-size: 13px !important;
  font-family: arial,sans-serif;
  //color: #444;
  //line-height: 1.5;
}
body{
    //background-image: url("/images/triangle.jpg");
    //background-image: url("/images/bg-gray.jpg") ;
    //background: rgb(177, 177, 177);
   
    //background-color: #bdc3c7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    //background: url('/images/pattern3.jpg') ;//repeat #262626;
    background: #ECEDF2;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    outline: none;
}
header {
  height: 60px;
  width: 880px;
  margin: 0px auto;
  padding: 10px;
  background: url("/images/slvkoby1.jpg");

  border-width: 0;
  -moz-box-shadow: 0px 0px 30px rgba(255, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 30px rgba(255, 0, 0, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  //border-left: 1px solid #000;
  //border-right: 1px solid #000;
  position: relative;
  z-index: 1;

}
footer{
   position: absolute;
   bottom: 0;
   background: url("/images/bg.jpg") repeat-x;
   //opacity: 0.9;
   height: 40px;
   margin-top: -40px;
   width: 100%;
 }
.main-logo {
  float: left;
}
.main-logo > img {
  width: 150px;
}
.main-logo > span {
  
  margin: 10px auto;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
}
.login {
  margin: 0px auto;
  margin-right: 50px;
  padding: 5px 5px;
  width: 210px;
  background: rgba(189, 189, 189, 0.69);
}

.menu-bar {
  width: 900px;
  height: 50px;
  margin: 0px auto;
  background-color: #33a1ba;
  background-color: rgb(0,73,105);
  text-decoration: none;
  position: relative;
  z-index: 0; 
}

.menu-item {
  cursor: pointer;
  float: left;
  padding: 17px 15px;
  text-shadow: 1px 1px 5px #000;
  border-right: 1px solid rgba(16, 22, 45, 0.37);
  text-decoration: none;
  font-weight: 700;
  color: #d3eced;
  text-transform: uppercase;
}
.menu-item:hover {
  color: rgb(75,172,207);
  text-decoration: none;
  background-color: rgb(0, 50, 73);
}
.menu-item:active {
  background-color: rgb(0, 45, 66);
}



footer{
   margin-bottom: -100px;
   height: 100px;
}
a {
    color: #0c65a5;
    text-decoration: none;
}
a:hover {
    color: #44a1c7;
    text-decoration:underline;
}
.menu-element {
    color: #0c65a5;
    text-decoration: none;
}
.menu-element:hover {
    color: #44a1c7;
    text-decoration: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  text-align:center; 
  vertical-align:middle;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  text-align:center; 
  vertical-align:middle;
  border-bottom: 2px solid #ddd;
}
.table-row {
    padding: 0px 40px;
}

.content{
	width: 900px;
	margin: 0 auto;
  min-height:100%;
}

.container{
    float: left;
    width: 900px;
    margin: 0px auto;
    //background-image: url("/images/bg-light.png");
    background: #FFF;
    min-height:100%;
    padding-bottom: 20px;
    
    border-width: 0;
    -moz-box-shadow: 0px 0px 30px rgba(255, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 30px rgba(255, 0, 0, 0.5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    //border-left: 1px solid #000;
    //border-right: 1px solid #000;
    position: relative;
    z-index: 1;
}


.carousel {
    width: 100%;
    height: 250px;
}

.left-block {
  float: left;
  
  width: 240px;
  padding-left: 10px;
  //margin: 20px 20px;
  //padding: 10px 5px;
}
.right-block {
  float: left;
  margin-left: 50px;
  padding-right: 10px;
  width: 590px;
}

.left-block-row {
  display: inline-block;
  background: white;
  //border: 2px solid black;
  //border-radius: 4px;
  width: 220px;
  //margin: 10px 5px;
  padding: 10px 10px;
}
.right-block-row {
  display: inline-block;
  background: white;
  width: 570px;
  padding: 10px;
  margin-bottom: 10px;
}
form{
    width:300px;
    margin:0px 15px;
}
.search {
    margin:3px; 
    //background: url('../images/search.png') no-repeat 32px 32px;
}


.about-container{
  width: 800px;
  min-height: 400px;
  padding: 10px;
}
.about-container > h1{
  margin: 10px
}
.about-container > img{
  width: 300px;
  margin: 10px;
}



.car-list-item {
  padding: 10px 10px;
  width: 200px;
  float: left;
  border-bottom: 1px solid #AECBD7;
}
.car-list-item:hover {
  background: #A3D8F0;
  background: rgba(75, 172, 207, 0.2);
}
.car-list-item > span {
  float: right;
}
.inactive {
  color: gray;
  text-decoration: none;
}
.inactive:hover {
  color: gray;
  text-decoration: none;
}










/* Demo styles for goog.ui.Container */
.goog-menubar {
  
}
.goog-menubar-horizontal{

}
.goog-container {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #eee;
  outline: none !important;
  zoom: 1; /* The container element must have layout on IE. */
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  border: none;
}


.goog-container-horizontal {
  border-bottom: 1px solid #d5d5d5;
  background: #fafafa url(../images/toolbar-bg.png) repeat-x bottom left;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  border: none;

}
.goog-control {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  border: none;
  float: left;
  width: auto;
  display: inline-block;

}
    .goog-control-hover {
       -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
        border: none;

    }
    .goog-control-focused {
       -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
        border: none;
        outline: none;
    }
    .goog-control-active {
        border: none;
       -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    }

.goog-container-vertical {
   -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  border: none;
}