    <div class="content">

      <div class="container">

        <div id="carousel">
          <div class="welcome-block">
            <h1>Welcome</h1>
            <p> to the service of selling of auto-parts  and auction of cars. You can make bets and win lots. Also there are available a lot of spares for different  models of autos. Here you can..</p>
            <a class="button" href="#/about">View details</a>
          </div>
          <div id="photography-carousel" class="carousel-window" style="margin: 0px;">
            <div class=" carousel-slide" id="carousel-image1"></div>
            <div class=" carousel-slide" id="carousel-image2"></div>
            <div class=" carousel-slide" id="carousel-image3"></div>
          </div>
        </div>

        
        
        <div class="main-block">

          <div class="main-block-row">

            <h2>Latest winners</h2>
            <div id="latest-winners" class="latest-winners"></div>
           
          </div>
          <div class="main-block-row">
            <h2>Hottest bids</h2>
            <div id="hot-bids" class="featured-lot-container"></div>
          </div>        
        </div>



    </div>
