    <div class="content">
      <div class="container">
<div id="hello"></div>
        <span id="catalog-title"></span>
        <div class="left-block">

          <div class="catalog-header" id="catalog-header"></div>
          
          <div class="left-block-row">
            <div id="car-list"></div>
          </div>
        </div>
        
        
        <div class="right-block">
          <div class="right-block-row">
            <form method="post" action="">
              <input type="text" name="search" value="" placeholder="Search part type">
              <input type="submit" name="commit" value="Go">
            </form>
          </div>
          <div class="catalog-header"  id="catalog-header">All</div>
          <div class="right-block-row">
            <div id="car-parts"></div>
          </div>
        </div>
      </div> 
    </div>
