
    <div class="content">
      <div class="container">

        
        <div class="left-block">

          <div class="catalog-header">Auctions</div>
          <div class="left-block-row">
            <div id="car-list"></div>
          </div>
        </div>
        
        
        <div class="right-block">
          <div class="catalog-header">Auctions: All</div>
          <!--<div id='popup'  tabindex="0"></div>
          <div class="">
            <form>
                <span>
                  <input type="text" class="search square" placeholder="Search...">
                  <input type="button" value="Search">
                </span>
            </form>
          </div>
        -->
          <div class="right-block-row">
            <div id="car-auction"></div>
          </div>
        </div>
      </div> 
    </div>

